.gifts {
    padding-left: 10%;     
}

.question {
    width: 50%;
    display: inline-block;
    vertical-align: text-top;
}

.full{
    width: 50%;
    display: inline-block;
    vertical-align: text-top;
}
.full pre {
    margin-left: 1em;
    border-left: solid 2em lightsteelblue;
    padding-left: 1em;
}
.qandcode {
   border: solid;
    padding: 1em;
    background-color: lightgray;
    margin: 1em;
    border-radius: 1em
}


.questionTitle{
    font-weight: bolder;
    font-size: larger;
    font-style: italic;
    padding: .5em .5em .5em 1.5rem;
    background-color: lightsteelblue;
    border-radius: 1em;
}

.questionText{
    padding:1em 1em;
}

.questionTextInline {
    padding:1em 1em;
}

.questionAnswers{
    padding:0.5em 1em;
}

.questionAnswersInline {
    padding:0.5em 1em;
}

.questionAnswers ul{
    margin-top:initial;
}

.questionAnswers td{
    text-align: right;
}

.questionAnswers li { 
    list-style-type: none;
}

.questionAnswers textarea {
    width: 100%;
    height: 12em;
}

li.correct {
    font-style: italic;
    font-weight: bold;
}

li.partial {
    font-style: italic;
}

/* .questionGeneralFeedback, .answerWrongFeedback, .answerCorrectFeedback, .groupedAnswerFeedback, .answerFeedback {
    text-align: right;
    color:gray;
}*/

.right_answer{
    color:darkgreen;
}

.wrong_answer{
    color:red;
    text-decoration: line-through;
}

.questionGeneralFeedback:before{
    content: "General feedback : ";
}
.answerCorrectFeedback:before{
    content: "Correct feedback : ";
}
.answerWrongFeedback:before{
    content: "Wrong feedback : ";
}

.FB{
    margin-top: 1em;
}

.FB:before{
    content: "Feedback";
    display: block;
    padding: 1em;
    border-top: solid 1pt;
    border-bottom: solid 1pt;
}

.multichoice p {
    display: inline;
}
.multianswer p {
    display: inline;
}

.multichoice,.multianswer {
    list-style-type: none;
}

.FB .multichoice, .FB .multianswer {
    list-style-type: circle;
}
